*,*::before,*::after {box-sizing: border-box;}*{margin: 0;padding: 0;font: inherit;}ul[role='list'],ol[role='list'] {list-style: none;}html:focus-within {scroll-behavior: smooth;}html,body{height:100%;}body {text-rendering: optimizeSpeed;line-height: 1.5;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}a:not([class]) {text-decoration-skip-ink: auto;}img,picture,video,canvas,svg {max-width: 100%;display: block;}input,button,textarea,select {font: inherit;}@media (prefers-reduced-motion: reduce) {html:focus-within {scroll-behavior: auto;}*,*::before,*::after {animation-duration: 0.01ms !important;animation-iteration-count: 1 !important;transition-duration: 0.01ms !important;scroll-behavior: auto !important;}}p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}#root, #__next {isolation: isolate;}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}